body {
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
  font-family: "Quicksand", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 65px;
  background-color: #c0dce8;
  box-shadow: 2px 2px 12px rgb(121, 134, 170);
  position: fixed;
  z-index: 1000;
}

nav a {
  display: flex;
  float: left;
  padding: 0 70px;
}

nav ul {
  display: flex;
  float: right;
  padding: 0 100px;
}

nav ul li a {
  display: block;
  padding: 0 30px;
  color: #0d1212;
  font-size: 16px;
  font-weight: 650;
}

nav ul li a:hover {
  font-weight: bold;
  color: #3d34bc;
}

.logo {
  color: #020024;
  font-size: 25px;
  font-weight: bold;
}

#home {
  width: 100%;
  height: 90vh;
  position: relative;
}

.home {
  position: absolute;
  top: 15%;
  left: 10%;
  right: 10%;
  transform: translate(13%, 42%);
}

.home h3 h4 {
  line-height: 0px;
  margin: 55px 0px 25px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  color: #3d34bc;
}

h4 {
  font-size: 25px;
  color: #020024;
  font-weight: bold;
}

p {
  font-size: 18px;
  color: #020024;
}

.picture {
  width: 250px;
  height: auto;
  position: absolute;
  left: 80%;
  top: 20%;
  transform: translate(-70%);
}

/* About */
.about {
  height: 60vh;
  background-color: #020024;
  padding: 2% 10% 10%;
}

.about-desc {
  margin: 50px 50px;
  margin-top: 10px;
}

.about-desc p:nth-child(1) {
  font-weight: bold;
  color: #c0dce8;
  font-size: 25px;
  line-height: 0px;
  text-align: center;
  margin-bottom: 35px;
}

.about-desc p:nth-child(2) {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  margin-bottom: 12px;
}

.row {
  margin: 10px;
  padding: 15px;
  display: flex;
}

.row .column p {
  color: #ffffff;
  font-size: 16px;
  line-height: 2;
  text-align: justify;
  margin-left: 50px;
  margin-top: auto;
}

.column {
  width: 25px;
  height: 20px;
  flex: 50%;
  padding: 30px;
  height: 200px;
}

/* Skills */
.skill {
  height: 58vh;
  background-color: #ffffff;
  padding: 2% 10% 10%;
  margin-bottom: 20px;
}

.skill-decs {
  margin: 50px 50px;
}

.skill-decs p:nth-child(1) {
  font-weight: bold;
  color: #3d34bc;
  font-size: 25px;
  line-height: 0px;
  text-align: center;
  margin-bottom: 35px;
}

.box-container {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.box-1,
.box-3 {
  width: 330px;
  height: 330px;
  box-shadow: 6px 12px 20px rgb(121, 134, 170);
  background-color: #c0dce8;
  border-radius: 25%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0px 5px;
}

.box-2 {
  width: 330px;
  height: 330px;
  box-shadow: 6px 12px 20px rgb(115, 137, 204);
  background-color: #3d34bc;
  border-radius: 20%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0px 5px;
}

.box-1 span,
.box-3 span {
  width: 40px;
  height: 40px;
  font-weight: bold;
  border-radius: 50%;
  background-color: #3d34bc;
  color: #c0dce8;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 15px;
}

.box-2 span {
  width: 40px;
  height: 40px;
  font-weight: bold;
  border-radius: 50%;
  background-color: #c0dce8;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 15px;
}

.box-1 p:nth-child(2),
.box-3 p:nth-child(2) {
  color: #020024;
  width: 250px;
  margin-top: 15px;
  font-weight: bold;
}

.box-2 p:nth-child(2) {
  color: #c0dce8;
  width: 250px;
  margin-top: 15px;
  font-weight: bold;
}
.box-1 p:nth-child(3),
.box-3 p:nth-child(3) {
  font-size: 16px;
  color: #020024;
  width: 250px;
  text-align: justify;
}

.box-2 p:nth-child(3) {
  font-size: 16px;
  color: #c0dce8;
  width: 250px;
  text-align: justify;
}

/*  Contact */
.contact {
  height: 58vh;
  background-color: #020024;
  padding: 2% 10% 10%;
}

.contact-desc {
  margin: 20px 25px;
}

.contact-desc p:nth-child(1) {
  font-weight: bold;
  color: #c0dce8;
  font-size: 25px;
  line-height: 0px;
  text-align: center;
  margin-bottom: 35px;
}

.contact-desc p:nth-child(2) {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  margin-bottom: 12px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 10px;
  resize: vertical;
}

.contact label {
  font-weight: bold;
  font-size: 16px;
  color: #c0dce8;
}

input[type="submit"] {
  background-color: #c0dce8;
  color: #020024;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #95bccc;
}

input:active {
  transform: scale(1, 1.2);
}

/* Footer */
footer {
  height: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #c0dce8;
}

footer p:nth-child(1) {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #020024;
  line-height: 20px;
}

footer p:nth-child(2) {
  font-size: 12px;
  color: #020024;
  line-height: 20px;
}

.social-icons {
  display: flex;
  text-align: center;
  padding-bottom: 5px;
}

.social-icons a {
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  color: #020024;
}

.social-icons i {
  font-size: 20px;
  color: #020024;
}

.social-icons a:hover {
  color: #3d34bc;
}
